* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  /* background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db); */
  background: linear-gradient(to right top, #512da8, #5a36ab, #623fad, #6a47b0, #7250b2, #7451b3, #7553b5, #7754b6, #734eb6, #6f47b7, #6b41b7, #673ab7);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}